@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f5f5f5;
}
.mb-4 {
  margin-top: 50px;
}
// Authentication containers(sign up/sign in/sign out/change pw)
.container-auth {
  border: 3px solid #fff;
  padding: 10px;
  margin: 50px 300px;
  float: center;
}
.container-auth input {
  margin: 8px;
}

.gameboard {
  height: 100vh;
}
.row-cols-3 {
  margin: auto;
  height: 150px;
  max-height: calc(100vh - 100px);
  max-width: calc(100vh - 100px);

}

.col-4-box {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  min-height: calc(100% / 4);
  min-width: calc(100% / 4);
}

.box {
    font-size: 10vh;
    &:hover {
      background-color: Black;
      color: white;
    user-select: none;
    }

}
